.sidebar{
  width: 72px;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(235, 235,235);
}
.sidebar-link img{
    width: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
  font-family: roboto,arial;
  font-size: 10px;
}